body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    text-decoration: none;
    background-color: rgb(245, 58, 25);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
}
h2{
    font-size: 40px;
}
.container{
    margin: 100px;
}
#top-banner{
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 400px;
}
#top-banner h1{
    font-size: 60px;
    width: 800px;
}
#top-banner p{
    line-height: 30px;
    font-size: 18px;
}
#donate-today{
    text-align: center;
}
.donate-amount{
    display: flex;
    margin: 70px 200px;
}
.da-item{
    width: 20%;
    font-size: 25px;
    font-weight: 700;
    color: grey;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.062);
    margin: 0 5px;
}
#active-da{
    background-color: rgba(245, 29, 25, 0.158);
    border: 3px solid rgb(245, 58, 25);
    color: rgb(245, 58, 25);
    border-radius: 5px;
}
.other-amount{
    margin: 0 250px;
}
.other-amount input{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
}
.other-amount input::placeholder{
    text-align: center;
}
.other-amount input:focus{
    outline: none;
}
#donate-plan{
    text-align: center;
}
.plan-area{
    display: flex;
}
.plan-area .plan-item{
    width: 33%;
    text-align: left;
    padding: 60px 25px;
    margin: 30px;
    border-radius: 5px;
}
.plan-area .plan-item img{
    width: 60px;
}
#item-1{
    background-color: rgba(173, 216, 230, 0.400);
}
#item-2{
    background: rgba(255, 166, 0, 0.400);
}
#item-3{
    background-color: rgba(255, 99, 71, 0.400);
}
#news{
    text-align: center;
}
#news .news-area{
    display: flex;
    margin: 30px 0;
}
#news .news-area .news-item{
    width: 33%;
    text-align: left;
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px grey;
    border-left: 5px solid tomato;
}
#news .news-area .news-item img{
    width: 100%;
}
#newsletter{
    text-align: center;
}
.newsletter-form{
    margin: 50px 150px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: rgba(173, 216, 230, 0.250);
}
.newsletter-form input{
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.219);
}
.newsletter-form input:focus{
    outline: none;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}
footer h2{
    color: rgb(245, 58, 25);
}